<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashin.vplayer">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VPlayer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ndk.AlipayActivity"
            android:exported="false" />
        <activity
            android:name=".ndk.NdkCalActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".services.VideoViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".syncAdapter.SyncActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".syncAdapter.SyncService"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".syncAdapter.StubProvider"
            android:authorities="com.ashin.stubprovider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".openGL.OpenGLActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".smbnfs.SmbNfsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".matrix.MatrixActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".barrage.BarrageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".glideLea.GlideActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".qrCode.QRCodeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".services.ExoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".services.TimerActivity"
            android:exported="false" />

        <meta-data
            android:name="com.ashin.vplayer.glideLea.MyGlideModule"
            android:value="GlideModule" />

        <service
            android:name=".WindowsManager.WindowService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ashin.vplayer.window" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".WindowsManager.WindowActivity"
            android:exported="false" />
        <activity
            android:name=".Okhttp.OkhttpActivity"
            android:exported="false" />
        <activity
            android:name=".listLearn.ListActivity"
            android:exported="false" />
        <activity
            android:name=".services.PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".services.SmbActivity"
            android:exported="false" />
        <activity
            android:name=".taskList.Task1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".syncAdapter.AuthenticatorService"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>